<!doctype html>
<html ng-app="app">
    <head>
        <title>Project Management</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script type="text/javascript" src=""></script>
        <script type="text/javascript" src=""></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/toastr")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/content/bootstrap")
        @Styles.Render("~/content/toastr")
 
        <style>
            i {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
    </body>
</html>